
/.vs
/MaxSystemWebsite/.vs
/MaxSystemWebsite/obj
MaxSystemWebsite/appsettings.json
.vs/MaxSystemWebsite/v17/
*.v2
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.deps.json
MaxSystemWebSite/bin/Release
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.dll
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.exe
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.pdb
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.runtimeconfig.json
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.staticwebassets.endpoints.json
MaxSystemWebSite/bin/Debug/net8.0/MaxSystemWebSite.staticwebassets.runtime.json
MaxSystemWebSite/obj/Debug/net8.0/apphost.exe
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.AssemblyInfo.cs
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.AssemblyInfoInputs.cache
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.assets.cache
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.csproj.AssemblyReference.cache
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.GeneratedMSBuildEditorConfig.editorconfig
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.build.endpoints.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.build.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.development.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.pack.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
MaxSystemWebSite/obj/MaxSystemWebSite.csproj.nuget.dgspec.json
MaxSystemWebSite/obj/MaxSystemWebSite.csproj.nuget.g.props
MaxSystemWebSite/obj/project.assets.json
MaxSystemWebSite/obj/project.nuget.cache
MaxSystemWebSite/obj/Debug/net8.0/apphost.exe
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.AssemblyInfo.cs
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.AssemblyInfoInputs.cache
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.assets.cache
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.csproj.AssemblyReference.cache
MaxSystemWebSite/obj/Debug/net8.0/MaxSystemWebSite.GeneratedMSBuildEditorConfig.editorconfig
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.build.endpoints.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.build.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.development.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.pack.json
MaxSystemWebSite/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
MaxSystemWebSite/obj/MaxSystemWebSite.csproj.nuget.dgspec.json
MaxSystemWebSite/obj/MaxSystemWebSite.csproj.nuget.g.props
MaxSystemWebSite/obj/project.assets.json
MaxSystemWebSite/obj/project.nuget.cache
