@model SmartTemplateCore.Models.Common.Forgot_Password_OTP_Verify
<form id="frmForgotPassword">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <h4 class="text-center mt-4" style="font-weight:bold; color:#54575a;">Verify your identity</h4>
        @{
            // Retrieve param1 from ViewData or ViewBag
            string param1 = ViewData["COOKIES_OTP_SUCCESS"] as string ?? "";
            if (param1 == "")
            {
                <div class="form-group mt-3">
                    <label for="txtEmailAddress" class="w-100 form-label mt-4"><small>Please enter email address that associated with your account.</small></label>
                    <div class="input-group">
                        @Html.TextBoxFor(a => a.EmailAddress, new { name = "Email", id = "txtEmail", placeholder = "user@mail.toray", @class = "form-control login-txt textbox keyboard require", error_msg_id = "errMsgEmailAddress", type = "email", error_msg = "Please enter the email address" })
                    </div>
                    <div class="errMsg col-12" id="errorMessageDiv">
                        <span id="errMsgEmailAddress" class="error-message text-danger d-none">Please enter the email address</span>
                    </div>
                </div>

            }
        }

        <div class="form-group mt-3">
            <label for="txtEmailAddress" class="w-100 form-label mt-4"><small>OTP.</small></label>
            <div class="input-group">
               <input type="number" class="form-control me-1 rounded otpBox" id="txtOTP1" OTPlvl="1" maxlength="1" min="0" max="9" />
               <input type="number" class="form-control me-1 rounded otpBox" id="txtOTP2" OTPlvl="2" maxlength="1" min="0" max="9" />
               <input type="number" class="form-control me-1 rounded otpBox" id="txtOTP3" OTPlvl="3" maxlength="1" min="0" max="9" />
               <input type="number" class="form-control me-1 rounded otpBox" id="txtOTP4" OTPlvl="4" maxlength="1" min="0" max="9" />
               <input type="number" class="form-control me-1 rounded otpBox" id="txtOTP5" OTPlvl="5" maxlength="1" min="0" max="9" />
               <input type="number" class="form-control me-1 rounded otpBox" id="txtOTP6" OTPlvl="6" maxlength="1" min="0" max="9" />
            </div>
            <div class="errMsg col-12" id="errorMessageDiv">
                <span id="errMsgEmailAddress" class="error-message text-danger d-none">Please enter the email address</span>
            </div>
        </div>
    </div>
    <div class="form-group d-grid gap-2 mt-1">
        <span class="text-end w-100">
            <a href="#" id="hasOTPBtn" class="forget-password-text" style="text-decoration:none;">Resend OTP?</a>
        </span>
    </div>
    <div class="form-group d-grid gap-2 mt-4">
        <button class="btn btn-primary tr-login-btn" type="button" id="btnForgotSubmit" style="border-radius: 2px"><b>SEND</b></button>
    </div>
</form>
<div class="form-group d-grid gap-2 mt-4">
    <span class="text-center w-100">
        <a href="@Url.Action("Login", "Home")" class="forget-password-text" style="text-decoration:none;"><i class="fa-solid fa-arrow-left me-2"></i>Back to login</a>
    </span>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.otpBox').on('input', function () {
            var $this = $(this);
            var val = $this.val();

            if (val.length === 1) {
                $this.next('.otpBox').focus();
            }
        });

        $('.otpBox:first').on('input', function () {
            var $this = $(this);
            var val = $this.val();

            // If the pasted value has length of 6, distribute it across all OTP fields
            if (val.length === 6) {
                $('.otpBox').each(function (index) {
                    $(this).val(val.charAt(index));
                });
                $('.otpBox:last').focus();
            }
        });

        $('.otpBox').on('keydown', function (event) {
            var $this = $(this);
            var val = $this.val();

            if (event.which === 8 && val.length === 0) {
                $this.prev('.otpBox').val('').focus();
            }
        });

        $("#btnForgotSubmit").click(function (e) {
 
            if (!validateForm()) { return; }

           
            var formData = $('#frmForgotPassword').serialize();

            $.ajax({
                url: "../Home/ForgotPassword",
                type: 'POST',
                data: formData,
                beforeSend: function () {
                    loadings("frmForgotPassword");
                },
                headers: {
                    // Get the anti-forgery token from the form
                    RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    loadings(false);
                    if (!response.error) 
                    {
                        var _url = '@Url.Action("RenderComponent", "Home")';
                        $.ajax({
                            type: "GET",
                            url: _url,
                            data: {
                                componentName: "ForgotPassword"
                            },
                            success: function (result) {
                                $("#modalContent").html(result);
                                $("#myModal").modal("show");
                            },
                        });

                    } else {
                        //toastAlertError(response.msg);
                    }
                },
                error: function () {
                   // toastAlertError("Error occured");
                }
            });

        });
    });

</script>